@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Average Sans', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#arriba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #009688;
}

#arriba img {
    width: 80px;
}

nav {
    display: flex;
}

nav a {
    margin-left: 20px;
}

#abajo {
    display: flex;
    justify-content: space-around;
    background-color: #4CAF50;
    padding: 10px 0;
}

#abajocentro{
    display: flex;
    justify-content: center;
}

.submenu a {
    color: white;
    text-decoration: none;
font-weight: bold;
}

.submenu a:hover {
color: #f1f1f1;
}

#main {
padding: 20px;
}

.nombre h1, .divisor h1 {
text-align: center;
padding: 20px 0;
}

#imagenes, #perritos #imagenes {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

#imagenes img, #perritos #imagenes img {
max-width: 200px;
margin: 10px;
cursor: pointer;
}

#imagenes img:hover, #perritos #imagenes img:hover {
opacity: 0.7;
}

.divisor {
position: relative;
}

.divisor #linea {
width: 100%;
height: 1px;
background-color: #ccc;
position: absolute;
top: 50%;
}

.divisor img {
width: 50px;
position: relative;
z-index: 2;
background-color: white;
padding: 5px;
border-radius: 50%;
left: 50%;
transform: translateX(-50%);
}

#alianzas {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

#alianzas img {
max-width: 150px;
margin: 10px;
}
.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item {
    max-width: 200px;
    width: 250px;
    height: 400px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}


.footer {
    background-color: #009688;
    color: white;
    padding: 20px 0;
    }
    
    .footer .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    }
    
    .footer h3 {
    margin-bottom: 15px;
    }
    
    .social-media {
    list-style: none;
    display: flex;
    padding: 0;
    }
    
    .social-media li {
    margin-right: 10px;
    }
    
    .social-media img {
    width: 30px;
    cursor: pointer;
    }
    
    .social-media img:hover {
    opacity: 0.7;
    }
       
    .img-item {
        width: 150; /* ajustar el ancho a tus necesidades */
        height: 150px; /* ajustar la altura a tus necesidades */
        object-fit: cover;
    }

#arriba img {
    max-width: 50px;
}

.stock{
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
}

#subscribir-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#subscribir-btn:hover {
    background-color: #45a049;
}

#arriba img {
    height: 50px; /* Establece una altura fija para todas las imágenes */
    width: auto; /* Ajusta automáticamente el ancho para mantener las proporciones */
    transition: opacity 0.3s;
}

#arriba img:hover {
    opacity: 0.7;
}

.precio-anterior{
    text-decoration: line-through;
}

.precio-anterior{
    display: flex;
    justify-content: center;
}

.oferta{
    display: flex;
    justify-content: center;
}

.boton-item{
    display: flex;
    width: 150px;
    height: 30px;
    justify-content: center;
}


#tablaProductos {
    display: flex;
    justify-content: center;
}

table{
   width: 90%;
}

thead{
   background-color: #0C3F37;
   color: #ffffff;
   height: 30px;
}

th{
   padding: 5px;
}
td{
   text-align: center;
}

td > img{
   height: 100px;
}


