html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  background: url(images/flores/fd15j5bhdb4d91s3.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body>nav {
  background-image: linear-gradient(90deg, #ff63a4, #ff63a4);
  border-bottom: 3px #000000 solid;
  font-size: 20px;
}

td>img {
  width: 120px;
  height: 120px;

}

table {
  border-collapse: collapse;
  width: 100%;

}

th,
td {
  border-top: 2px #000000 solid;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

tr:hover {
  background-color: #ffecfd;
}

th {
  background-color: #ff006a;
  color: white;
  border: 2px #000000 solid;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}

.botones {
  display: flex;
  justify-content: center;
}

.boton {
  margin: 0 10px;
  width: 500px;
  border-radius: 5px;
}

.boton a {
  color: #ffffff;
  text-decoration: none;
}

.accion {
  width: 15px !important;
  height: 15px !important;
}


.boton>a {
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  color: #ffffff !important;
  background-color: #ff006a;
  font-size: 1.5rem;
  margin: 0 auto;

}

.historial-compra {
  background-color: #ffddfb;
  height: auto;
  flex-direction: row;
  margin:  auto;
  border: 3px #000000 solid;
  margin-bottom: 40px;
  max-width: 80%;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;

}

.titulo-historial {
  color: #ffffff;
  background-color: #ff63a4;
  margin: 0 auto;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  padding: 20px 20px;
}

/* Responsive de tabla */

.tabla {
  width: 100%;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {

  .tabla table,
  .tabla thead,
  .tabla tbody,
  .tabla th,
  .tabla td,
  .tabla tr {
    display: block;
  }

  .tabla thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tabla tr {
    border: 1px solid #ccc;
  }

  .tabla td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
  }

  .tabla td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  .tabla td:nth-of-type(1):before {
    content: "Codigo";
  }

  .tabla td:nth-of-type(2):before {
    content: "Descripcion";
  }

  .tabla td:nth-of-type(3):before {
    content: "Imagen";
  }

  .tabla td:nth-of-type(4):before {
    content: "Precio";
  }

  .tabla td:nth-of-type(5):before {
    content: "Cantidad";
  }

  .tabla td:nth-of-type(6):before {
    content: "Total";
  }

  .tabla td:nth-of-type(7):before {
    content: "";
  }

  .tabla td:last-child {
    border-bottom: none;
  }
}



@media (max-width: 768px) {
  .botones {
    flex-direction: column;
    align-items: center;
    width: 100%; /* Agrega esta línea */
  }
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  flex-direction: column;
}

.main-content {
  flex: 0;
}

footer {
  text-align: center;
  width: 100%;
}


#mensaje-carro{
  margin-top: 20px;
  margin-bottom: 20px;

}