{% extends 'core/base.html' %}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>Sobre nosotros</title>
  <link rel="icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <!-- Cargar CSS de Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'estilo-sobrenosotros.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Popper.js -->
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Encabezado de la página -->
  <div class="jumbotron">
    <h1 class="display-4">¿Quienes somos?</h1>
    <p class="lead">Tienda especializada en los arreglos florales para cada ocasión.</p>
    <p class="parrafo">Los Tilines es una florería dedicada a ofrecer una amplia variedad de arreglos florales y plantas para toda
      ocasión. Con una amplia experiencia en el mercado, esta florería se ha convertido en un referente en su localidad
      gracias a su compromiso con la calidad y el servicio al cliente.

      En Los Tilines, los clientes pueden encontrar una gran variedad de opciones para celebrar todo tipo de eventos y
      ocasiones especiales, desde bodas y cumpleaños hasta aniversarios y graduaciones. La florería cuenta con un equipo
      de expertos floristas que trabajan con las mejores flores y materiales para crear arreglos personalizados que
      cumplan con las necesidades y gustos de cada cliente.

      Además, Los Tilines ofrece servicios de entrega a domicilio para mayor comodidad de sus clientes. Asimismo, su
      página web permite a los clientes hacer pedidos en línea y ver fotos de los arreglos disponibles, lo que hace que
      el proceso de compra sea aún más fácil y accesible.

      En resumen, Los Tilines es una florería comprometida con ofrecer productos y servicios de calidad, con una amplia
      variedad de opciones para cada ocasión y con un enfoque en la satisfacción del cliente.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="carrito.html" role="button">Ir a la tienda</a>
    <a class="btn btn-primary btn-lg" href="index.html" role="button">Volver al inicio</a>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %} 
</body>