{% extends 'core/base.html' %}
{%load static%}
{% load mathfilters %}
{%block content%}
<!DOCTYPE html>
<html lang="es">

<head>
  <title>Mis Compras</title>
  <link rel="icon" href="{%static 'images/icon.png' %}" type="image/x-icon">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'estilo-carrito.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/@popperjs/core@2.10.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="wrapper">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <p><br></p>
    <p><br></p>
    <div class="historial-compra">
      <div class="tabla responsive">
        <h1 class="titulo-historial">Carrito de compras</h1>
        <table>
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Imagen</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% if carro %}
            {% for prod in carro %}
            <tr>
              <td>{{prod.0}}</td>
              <td>{{prod.4}}</td>
              <td class="imagen"><img src="{{prod.3}}"></td>
              <td>$ {{prod.1}}</td>
              <td><a href="{% url 'dropitem' prod.0%}" class="accion"><img
                    src="{% static 'images/icons8_minus_50px.png' %}" alt=""></a> {{prod.2}} <a
                  href="{% url 'sumcarro' prod.0%}" class="accion"><img src="{% static 'images/icons8_sum_50px.png' %}"
                    alt=""></a></td>
                {% if suscrito %}
                {% with precio=prod.1 %}
                  {% with descuento=prod.2 %}
                  <td>$ {{ prod.1|mul:prod.2|mul:0.95 }}</td>
                  {% endwith %}
                {% endwith %}            
              {%else%}
              <td>$ {{prod.5}} </td>
              {%endif%}
              <td>
                <a href="{% url 'dropstack' prod.0%}">
                  <img src="{% static 'images/icons8_trash_50px.png' %}" alt="">
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
            {%else%}
          </tbody>
        </table>
        <h2 id="mensaje-carro">Carrito Vacio...</h2><img src="{% static 'images/carro-icon.png' %}" alt="">
        {%endif%}
      </div>
    </div>
  </div>
  <div class="botones">
    <button class="boton"><a href="{% url 'limpiar' %}">Limpiar carrito</a></button>
    {% if carro %}
    <button class="boton"><a href="{% url 'comprar' %}">Realizar compra</a></button>
    {% else %}
    <button class="boton"><a href="{% url 'catalogo' %}">Buscar Productos</a></button>
    {% endif %}
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}