html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ffffff;
    background: url(images/flores/fd15j5bhdb4d91s3.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body>nav {
    background-image: linear-gradient(90deg, #ff63a4, #ff63a4);
    border-bottom: 3px #000000 solid;
    font-size: 20px;
}




.jumbotron {
    background-color: #ffe5ff;
    text-align: center;
}

.jumbotron>a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #ff006a;
    line-height: 50px;
    display: inline-block;
}

.jumbotron>a:hover {
    color: #ffffff;
    background-color: #a50045;
    transition-duration: 0.3s;
}


.tabla {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
    text-decoration: none;
}

.historial-compra {
    background-color: #ffddfb;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    border: 3px #000000 solid;
    margin-bottom: 40px;
    max-width: 80%;
    margin-top: 100px;
}

th,
td {
    border-top: 2px #000000 solid;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

td>img {
    width: 120px;
    height: 120px;

}

table {
    border-collapse: collapse;
    width: 100%;

}

tr:hover {
    background-color: #ffecfd;
}

th {
    background-color: #ff006a;
    color: white;
    border: 2px #000000 solid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

.titulo-historial {
    margin-top: 20px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    display: flex;
}


.tabla {
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 600px) {

    .tabla table,
    .tabla thead,
    .tabla tbody,
    .tabla th,
    .tabla td,
    .tabla tr {
        display: block;
    }

    .tabla thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tabla tr {
        border: 1px solid #ccc;
    }

    .tabla td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

    .tabla td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    .tabla td:nth-of-type(1):before {
        content: "Id";
    }

    .tabla td:nth-of-type(2):before {
        content: "Cliente";
    }

    .tabla td:nth-of-type(3):before {
        content: "Fecha";
    }

    .tabla td:nth-of-type(4):before {
        content: "Total";
    }

    .tabla td:nth-of-type(7):before {
        content: "";
    }

    .tabla td:last-child {
        border-bottom: none;
    }
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper {
    flex-direction: column;
}

.main-content {
    flex: 0;
}

footer {
    text-align: center;
    width: 100%;
}



#mensaje-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 1.2rem;
}

#mensaje-1>button {
    text-decoration: none !important;
    width: 500px;
    border-radius: 5px;
    padding: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: #ffffff !important;
    background-color: #ff006a;
    font-size: 1.5rem;
    margin: 0 auto;
}